<section class="section">
    <table class="table">
        <thead>
            <tr>
                <td> First Name </td>
                <td> Last Name</td>
                <td> Email </td>
                <td> City </td>
                <td> About Me</td>
            </tr>
        </thead>
        <tr>
            <td>${userInfo.users_first_name}</td>
            <td>${userInfo.users_last_name}</td>
            <td>${userInfo.users_email}</td>
            <td>${userInfo.users_city}</td>
            <td>${userInfo.users_about_me}</td>

        </tr>
    </table>
</section>