<section class="section">
        <table class="table">
            <thead>
                <tr>
                    <td> Title </td>
                    <td> Project Start </td>
                    <td> Project Summary </td>
                    <td> Project Url </td>
                    <td> Project Open</td>
                </tr>
            </thead>
            <tr>
                <td>${projectDetails.project_title}</td>
                <td>${projectDetails.project_start}</td>
                <td>${projectDetails.project_summary}</td>
                <td>${projectDetails.project_url}</td>
                <td>${projectDetails.project_open}</td>
            </tr>
        </table>
    </section>
<section class="section">
    <table class="table">
        <thead>
            <tr>
                <td> Score </td>
                <td> Content </td>
                <td> User Id </td>
            </tr>
        </thead>
        ${projectComment.map(comments =>
        `<tr>
            <td>${comments.comments_content}</td>
            <td>${comments.comments_user_id}</td>
            <td>${comments.comments_project_id}</td>
        </tr>`
        ).join('')}
    </table>
</section>
<section class="section">
    ${!!is_logged_in ? `
    <h1>Add a new project comment!</h1>
    <br>
    <form action="/projects/update" method="POST">
        <input type="hidden" name="project_id" value="${projectDetails.id}">
        <input type="hidden" name="user_id" value="${user_id}">
        <label>Write Your Review Below:
            <br>
            <textarea rows="10" cols="60" name="content"> </textarea>
        </label>
        <br>
        <label>project Rating 
                <span style="display:inline-block; margin: right; font-size: 16px;">
                <input type="radio" value="1" name="score"> 1 
                <input type="radio" value="2" name="score"> 2
                <input type="radio" value="3" name="score"> 3
                <input type="radio" value="4" name="score"> 4
                <input type="radio" value="5" name="score"> 5
                </span>
            </label>
        <button type="submit" class='is-primary'>Submit</button>
    </form>
    ` : `
    <P> Login to submit your review </P> `}
</section>