<div class="project-container">
<section class="section">
    <p class='hero-text'>Match Maker</p>
    <p class='hero-smaller-text'>Find your new coding mentor! Click the coffee if you want to meet them. Click no fire if they're not your desire.</p>
    <br>
    <div class="profile">
            <img src="images/person4.png">

        </div>
        <div class="credentials">
            <p>First Name: ${userInfo.users_first_name}</p>
            <p>Last Name: ${userInfo.users_last_name}</p>
            <p>Email: ${userInfo.users_email}</p>
            <p>City: ${userInfo.users_city}</p>
            <p>About me: ${userInfo.users_about_me}</p>
        </div>
        <br>
    <table border-spacing="40px">
    <div class="match-buttons"><p>
    <td><form action="/matchmaker/dislike" method="POST">
        <input type="hidden" name="liked_id" value="${userInfo.id}">
        <input type="hidden" name="liker_id" value="${user_id}">
        <button type="submit" class='is-primary'><img src="images/no_match.png" alt="Next Profile">
            </button> 
    </form></td>
    <td><form action="/matchmaker" method="POST">
        <input type="hidden" name="liked_id" value="${userInfo.id}">
        <input type="hidden" name="liker_id" value="${user_id}">
        <button type="submit" class='is-primary'><img src="images/coffee.png" alt="Suggest a coffee!">
            </button>
    </form></td>
    </div>
    </table>
</section>
</div>