<div class="project-container">
        <section class="section">
            <p class='hero-text'>Latest Projects</p>
              <br>
              <a href="/projects/new"> Add New Project
              </a>
                <br>
                <table class="table">
                  ${projectsList.map(projects =>
                  `
                  <article class="media">
                    
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>${projects.users_first_name} ${projects.users_last_name}</strong>
                          <small>${projects.users_email}</small>
                          <br>
                          <a href="/projects/${projects.id}">Project Title: <strong>${projects.project_title}</strong></a><br />
                          Project Summary: <strong>${projects.project_summary}</strong><br />
                          Project Start: <strong>${projects.project_start}</strong><br />
                          Project URL: <strong>${projects.project_url}</strong><br />
                          Project Status:<strong>${projects.project_open}</strong><br />
                        </p>
                      </div>
                    </div>
                  </article>`
                  ).join('')}
                </table>
                ${!!is_logged_in ? `
                <a href="/projects/new"> Add New Project
                </a>
                ` : `
                <a href="/users/login">
                  <p> Login to add a new project listing!</p>
                </a> `}
            
</section>
</div>

