<section class="section">
    <table class="table">
        <thead>
            <tr>
                <td> First Name </td>
                <td> Last Name </td>
                <td> Email Address </td>
                <td> City </td>
            </tr>
        </thead>
    ${myListOfMatches.map(users => 
        `<tr>
            <td>${users.users_first_name}</td>
            <td>${users.users_last_name}</td>
            <td>${users.users_email}</td>
            <td>${users.users_city}</td>

        </tr>`
    ).join('')}
    </table>
</section>