<div class="project-container">
        <section class="section">
                <h1 class="login-text">${title}</h1><br />
                <table class="table">
                  ${projectsList.map(projects =>
                  `
                  <article class="media">
                    <figure class="media-left">
                      <p class="image is-120x120">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                      </p>
                    </figure>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>${projects.users_first_name} ${projects.users_last_name}</strong>
                          <small>${projects.users_email}</small>
                          <br>
                          <a href="/projects/${projects.id}">Project Title: <strong>${projects.project_title}</strong></a><br />
                          Project Summary: <strong>${projects.project_summary}</strong><br />
                          Project Start: <strong>${projects.project_start}</strong><br />
                          Project URL: <strong>${projects.project_url}</strong><br />
                          Project Status:<strong>${projects.project_open}</strong><br />
                        </p>
                      </div>
                    </div>
                  </article>`
                  ).join('')}
                </table>
                ${!!is_logged_in ? `
                <a href="/projects/new">
                </a>
                ` : `
                <a href="/users/login">
                  <p> Login to add a new project listing!</p>
                </a> `}
            
              </section>
<section class="section">
    ${!!is_logged_in ? `
<p>Add a new project!</p>
<form action="/projects" method="POST">
    <label>Project Title
        <input type="text" name="project_title">
    </label>
    <label>Project Start
        <input type="text" name="project_start">
    </label>
    <label>Project Summary
        <input type="text" name="project_summary">
    </label>
    <label>Project URL
        <input type="text" name="project_url">
    </label>
    <label>Project Open
        <input type="text" name="project_open">
    </label>
    <input type="hidden" name="project_users_id" value="${user_id}">
    <button type="submit" class='is-primary'>Submit</button>
</form>
` : ` 
<p> Login to add a new project listing!</p> `}
</section>
</div>

