<div class="project-container">
        <section class="section">
            <p class='hero-text'>Your Profile</p>
            <br>
          <div class="profile">
            <img src="images/person3.jpg">
          </div>
          <div class="credentials">
            <p>First Name: ${userInfo.users_first_name}</p>
            <p>Last Name: ${userInfo.users_last_name}</p>
            <p>Email: ${userInfo.users_email}</p>
            <p>City: ${userInfo.users_city}</p>
            <p>About me: ${userInfo.users_about_me}</p>
          </div>
          <h1><a href="/myprojects">View Your Projects</a></h1>
        </section>
      </div>

