<section class="section">
    <table class="table">
        <thead>
            <tr>
                <td> Title </td>
                <td> Project Start </td>
                <td> Project Summary </td>
                <td> Project Url </td>
                <td> Project Open</td>
            </tr>
        </thead>
    ${projectsList.map(projects => 
        `<tr>
            <td><a href="/projects/${projects.id}">${projects.project_title}</a></td>
            <td>${projects.project_start}</td>
            <td>${projects.project_summary}</td>
            <td>${projects.project_url}</td>
            <td>${projects.project_open}</td>
        </tr>`
    ).join('')}
    </table>
</section>
<section class="section">
    ${!!is_logged_in ? `
<p>Add a new project!</p>
<form action="/racetracks" method="POST">
    <label>Tile 
        <input type="text" name="title">
    </label>
    <label>Longer Title 
        <input type="text" name="title_long">
    </label>
    <label>ISBN
        <input type="text" name="isbn">
    </label>
    <label>Publisher 
        <input type="text" name="publisher">
    </label>
    <label>Year Published
        <input type="text" name="date_published">
    </label>
    <label>Picture Folder
        <input type="text" name="picture">
    </label>
    <button type="submit" class='is-primary'>Submit</button>
</form>
` : ` 
<p> Login to add a new project listing!</p> `}
</section>