<head>
    <meta charset="utf-8">
    <title>TinCodr | ${title}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <!-- Place favicon.ico in the root directory -->
</head>
<body>
    <nav class="navbar main-nav is-dark" role="navigation" aria-label="main navigation">
        ${!!is_logged_in ? `
        <div class="navbar-start">
            <a class="navbar-item" href='/'>Home</a>
            <a class="navbar-item" href='/projects'>Latest Projects</a>
            <a class="navbar-item" href='/myprojects'>My Projects</a>
            <a class="navbar-item" href='/myprofile'>My Profile</a>
            <a class="navbar-item" href='/matchmaker'>Match Maker</a>
            <a class="navbar-item" href='/mymatches'>My Matches</a>

        </div>
        <div class ="navbar-end">
            <a class="navbar-item" href="/users/logout"> Logout </a> 
        </div>
            ` : `
        <div class="navbar-start">
            <a class="navbar-item" href='/'>Home</a>
            <a class="navbar-item" href='/projects'>Latest Projects</a>
        <div class ="navbar-end">
            <a class="navbar-item" href="/users/login"> Login </a> 
            <a class="navbar-item" href="/users/signup"> Signup</a>
        </div>
            `}
    </nav>
    <main class="container">${partial}</main>
</body>
</html>